<legend>Edit <%= resource_name.to_s.humanize %></legend>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :placeholder => "Email" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :placeholder => "User name" %><br />
      <i>Not mandatory</i>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :placeholder => "Password", :autocomplete => "off" %><br />
      <i>(leave blank if you don't want to change it)</i>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :placeholder => "Password confirmation" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :current_password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :current_password, :placeholder => "Current password" %><br />
      <i>(we need your current password to confirm your changes)</i>
    </div>
  </div>

  <div><%= f.submit "Update", :class => "btn" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
