<div id="save-update-event<%= event.id.nil? ? "" : event.id %>">
  <% if event.new_record? %>
    <h2>Add new event</h2>
  <% else %>
    <h2>Edit event</h2>
  <% end %>
  <div id="event-error-messages">
    <%= render 'shared/error_messages', :event => event %>
  </div>
  <%= form_for event, :remote => true do |f| %>
      <div class="control-group">
        <%= f.label :name, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :date_event, :class => "control-label" %>
        <div class="controls">
          <%= f.date_select :date_event %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :repeat, :class => "control-label" %>
        <div class="controls">
          <%= f.select :repeat, options_for_select([["Do not repeat", "0"], ["Every day", "1"], ["Every week", "2"], ["Every month", "3"], ["Every year", "4"]], :selected => event.repeat) %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Submit", :class => "btn" %>
          <% unless event.new_record? %>
            <%= form_for event, :method => :delete, :remote => true do |f| %>
              <%= f.submit "Remove", :class => "btn" %>
            <% end %>
          <% end %>
          <input type="button" class="btn" onclick="Dialog.cancelCallback()" value="Cancel">
        </div>
      </div>
  <% end %>
</div>