<table>
  <tbody>
  <tr>
    <td id="calendar-td">
      <label id="<%= @month %>" class="month-label"><%= Date::MONTHNAMES[@month] %></label>
      <label id="<%= @year %>" class="year-label"><%= @year %></label>
      <table id="calendar-table" cellspacing="0">
        <thead>
        <tr>
          <th>Mon</th><th>Tue</th><th>Wed</th>
          <th>Thu</th><th>Fri</th><th>Sat</th>

          <th>Sun</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <%
             i = @days_in_calendar_before
             count = 0
             while i > 0 do %>
              <td class="padding"><%= @calendar_days[count] %></td>
          <%
             count += 1
             i -= 1
             end
          %>
          <% week_count = count
             while count < @days_in_calendar do
               week_count += 1
          %>
              <td class="<%= @calendar_days_styles[count] %>"><a id="<%= @calendar_days[count] %>" class="open-events" href="javascript:void(0)"><%= @calendar_days[count] %></a></td>
              <% count += 1 %>
              <% if week_count == 7
                   week_count = 0 %>
                  </tr><tr>
              <% end %>
          <% end %>

          <%
             while count < @calendar_days.size do
          %>
              <td class="padding"><%= @calendar_days[count] %></td>
              <% count += 1 %>
          <% end %>
          </tr>
          </tbody>
        <tfoot>

        <th>Mon</th><th>Tue</th><th>Wed</th>
        <th>Thu</th><th>Fri</th><th>Sat</th>
        <th>Sun</th>
        </tfoot>
      </table>
    </td>
    <td valign="top">
      <div id="create-event">
        <%= link_to_prototype_dialog 'Create an event', 'save-update-event', 'confirm',
                                     {:className => "alphacube", :width => '450', :height => 'null'} %>
      </div>
      <div class="well" style="max-width: 340px; padding: 8px 0;">
        <%= render 'shared/events' %>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<%= render 'shared/create_event', :event => @event %>
