<!DOCTYPE html>
<html>
<head>
  <title>EventsCalendar</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application", 'custom' %>
  <%= stylesheet_link_tag 'master' %>
  <%= stylesheet_link_tag 'pop_up/alert', 'pop_up/alphacube', 'pop_up/default' %>
  <%= javascript_include_tag 'jquery-1.7.2.min', 'jquery-ui-1.8.18.custom.min', 'rails', "application" %>
  <%= javascript_include_tag 'coda' %>
  <%= javascript_include_tag 'pop_up/prototype.js', 'pop_up/effects.js', 'pop_up/window.js', 'pop_up/window_effects.js' %>
  <style type="text/css">
      .popup_effect1 {
          background:#11455A;
          opacity: 0.2;
      }
      .popup_effect2 {
          background:#FF0041;
          border: 3px dashed #000;
      }
  </style>
</head>
<body>
<script type="text/javascript">
    $(function() {
        $('a.open-events').live("click", function() {
          var day = $(this).attr('id');
          var month = $('.month-label').attr('id');
          var year = $('.year-label').attr('id');
          $.ajax({
            dataType: "html",
            data: {day: day, month: month, year: year},
            url: "current_events",
            type: "POST",
            success: (function(data) {
              $('div.well').html(data);
            })
          });
        });
    });
</script>
<div class="container">
  <%= render 'layouts/header' %>
  <section class="round">
    <%= yield %>
  </section>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
